/* KINA.studio CSS */

.desktop { display:inline; }
.mobile, .mobile-inline { display:none; }

p, a, h1, h2, h3, h4 {
    font-family: "lato", sans-serif;
    font-weight: 400;
    color: white;
    font-family: Gillsans,sans-serif;
    letter-spacing: .1em;
    -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2 {
    font-family: "Didot W02 Roman","Didot", serif;
    font-family: CormorantGaramond-Light,serif;
    font-family: 'Oswald', sans-serif;
}

h4 {
    color: grey;
}

p, a {
    color: white;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .8px;
    margin: 0;
}

p { text-align: center; }
p.info { max-width: 760px; margin: auto; text-align: justify }

a {
    text-decoration: none;
    color: grey;
}

h1 { font-size: 28px; }
h2 { font-size: 36px; }
h3 { font-size: 18px; }
h4 { font-size: 17px; }

.middletext { letter-spacing: 2px; }
.widetext { letter-spacing: 4px; margin: 8px; }
h2.widetext { margin-top: 12px; }

.welcomerow {
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-weight: 300;
    padding: 9px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666;
    background: #ededed;
    left: 0;
    position: relative;
    opacity: 0.95;
    z-index: 10;
    border-bottom: 1px solid #eaeaea;
}

.cookiesrow {
    z-index: 1000;
    box-sizing: border-box;
    display: block;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 1px;
    color: black;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    padding: 15px 5px;
    border: 5px solid grey;
    margin: 8px;
}

.cookiesrow .informedAboutCookies {
    margin: 10px;
    padding: 7px 12px 6px 12px;
    font-size: 10px;
    display: inline;
}



.saletext {
    letter-spacing: 1px;
    color: #9f2943;
    max-width: 800px;
    margin: auto;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.headline {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding: 20px 0;
}
.headline span::before, .headline span::after {
    border-bottom: 1px solid #000000;
    content: '';
    position: absolute;
    bottom: 50%;
    width: 100%;
}

.blackbutton {
    background: black;
    color: white;
    display: inline-block;
    padding: 8px 28px 6px 28px;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    margin: 30px;
    border: white solid 1px;
}
.blackbutton:hover {
    background: white;
    color: black;
}


.whitebutton {
    background: #ffffff;
    color: black;
    display: inline-block;
    padding: 8px 28px 6px 28px;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    margin: 20px;
    border: black solid 1px;
}
.whitebutton:hover {
    background: #000000;
    color: #ffffff;
}


.link {
    display: inline-block;
    font-weight: normal;
    font-family: Lato, Helvetica, sans-serif;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    margin: 0px;
}
.body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
}

img.logo {
    width: 100%;
    min-width: 170px;
    max-width: 170px;
    margin-top: 60px;
    margin-bottom: 15px;
}

img.menulogo {
    min-width: 170px;
    max-width: 170px;
    margin-top: 0px;
    margin-bottom: -11px;
    margin-right: 50px;
    margin-left: 100px;
    margin-left: 9%;
}

img.img-block {
    width: 100%;
    max-width: 600px;
    min-width: 320px;
}

.mainnav-wrapper { border-bottom: 1px solid #dfdfdf; }

.mainnav {
    text-align: left;
    margin-top: -5px;
    display: block;
	padding: 20px;
    background-color: black;
    opacity: 0.95;
}

.mainnav a {
    letter-spacing: 2px;
    font-weight: 500;
    margin-left: 6px;
    margin-right: 6px;
    padding:5px;
    padding-top: 6px;
    font-size: 16px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.mainnav a:hover {
    color: #dfdfdf;
    text-decoration: underline;
}

.mainnav a.weddinglink {
    font-family: 'Alex Brush', cursive;
    color: antiquewhite;
    font-size: 28px;
}

.topline {
    padding: 5px;
    border-top: 1px solid #dbdbdb;
}

.biggertext, .biggertext a {
    font-size: 16px;
}

/* Sticky NAV */
.stickytop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0px;
    margin-top: -2px;
    opacity: 0.96;
    z-index: 999;
}

.mobilemenuicon {
	position: absolute;
    left: 10px;
    top: 34px;
    font-size: 12px;
    color: white;
}


/* LAYOUT */
.wrapper {
    max-width: 1920px;
    margin: auto;
}
.block {
    margin-bottom: 40px;
    overflow: hidden;
}
.header {
    margin-top: 0px;
    margin-bottom:0px;
}
.headertext {
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.white {
    color: white;
}
.bgwhite {
    background-color: #fff;
}

.bgblack {
    background-color: #000;
}

.transp {
    opacity: .95;
}

li {
    display: inline; /* li nebeneinander anzeigen */
    list-style-type: none; /* ohne Aufzählungspunkte */
}

.socialbutton {
    width: 30%;
    max-width: 50px;
    margin-top: 10px;
}

.contacts {
    max-width: 420px;
    margin: auto;
}
.contacts a {
    color: white;
}
.contacts a:hover {
    text-decoration: underline;
}
.contacts h4 {
    margin-top:0px;
}
.icon {
    display: inline-block;
    background-position: center;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin:8px;
}
.icon-whatsapp {
    background-image: url('../images/whatsapp-white.png');
}
.icon-mail {
    background-image: url('../images/mail-white.png');
}

.gotostartbutton {
    position: fixed;
    bottom: 70px;
    right: 10px;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin:0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../images/gotostartbutton.png');
    opacity: 0.4;
}
.gotostartbutton:hover {
    opacity: 1;
}



body .instagram-photo img {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-backface-visibility: hidden;
}

.instagram-element .instagram-photo {
    margin: 0;
    width: 25%;
}

.instagram-element .instagram-photo.image {
    background-color: transparent;
}
.instagram-element .instagram-photo.image:hover {
    background-color: black;
}

body .instagram-element .instagram-photo:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    background-color: black;
    opacity: 0.8;
}

.instagram-element .instagram-photo .element-meta { color: #fff; font-size: 16px; font-weight: 100; line-height: 16px; }







/* CUSTOMIZING FOR EACH INSTAGRAM GRID */

/* PHOTOS LAYOUTS */

/* 3 Spalten, Mehr Abstand zwischen Elements */
/* .instagram-element { margin: -0.8%; } */
/* .instagram-element .instagram-photo { width: 31.7%; margin: 0.8%; } */

/* 3 Spalten, kein Abstand */
/*.instagram-element { margin: 0; }
.instagram-element .instagram-photo { width: 33.33%; margin: 0; }*/

/* 3 Spalten, kleiner Abstand */
.instagram-element { margin: -0.4%; padding-top: 2%; }
.instagram-element .instagram-photo { width: 32.53%; margin: 0.4%; }

@media (max-width: 1000px) {
    .instagram-element { margin: 0; }
    .instagram-element .instagram-photo { width: 33.35%; margin: -0.01%; }
}

@media (max-width: 800px) {
    .instagram-element { margin: 0.8%; }
    .instagram-element .instagram-photo { width: 48.4%; margin: 0.8%; }
}
@media (max-width: 600px) {
    .instagram-element { margin: 1.2%; padding-top: 3%; }
    .instagram-element .instagram-photo { width: 97.6%; margin: 1.2%; }
}




@media (max-width: 1100px) {

    .desktop { display:none; }
    .desktop-inline { display:none; }
    .mobile { display:block; }
    .mobile-inline { display:inline; }

    h1 { font-size: 22px; }
    h2 { font-size: 24px; }
    h3 { font-size: 18px; }
    h4 { font-size: 17px; }

    .mainnav-wrapper { border-bottom: 1px solid #dfdfdf; }

	.mainnav { 
        margin-top: 0px; /* FONT ISSUE compensation */
        padding: 0;
    }

	.mainnav a {
        display: block;
        margin-top: 0px; /* FONT ISSUE */
        padding: 20px 5px;
	    text-align: left;
	    border-top: 1px solid #dedede;
	}

	.mainnav a:hover { color: #dfdfdf; text-decoration: underline; }

    .mainnav a.menulogo-wrapper { display: none; }

    img.logo {
        width: 100%;
        min-width: 170px;
        max-width: 170px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .stickytop { padding: 0px; margin-top: 0; }
    .welcomerow { display: none; }
    .headline { font-size: 18px; }
    .icon { width: 16px; height: 16px; }
}
        









/* SLIDER STUFF */

.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../images/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div {
    background-position: -7px -7px;
}
.jssorb05 div:hover, .jssorb05 .av:hover {
    background-position: -37px -7px;
}
.jssorb05 .av {
    background-position: -67px -7px;
}
.jssorb05 .dn, .jssorb05 .dn:hover {
    background-position: -97px -7px;
}
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../images/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l {
    background-position: -10px -31px;
}
.jssora22r {
    background-position: -70px -31px;
}
.jssora22l:hover {
    background-position: -130px -31px;
}
.jssora22r:hover {
    background-position: -190px -31px;
}
.jssora22l.jssora22ldn {
    background-position: -250px -31px;
}
.jssora22r.jssora22rdn {
    background-position: -310px -31px;
}
.jssora22l.jssora22lds {
    background-position: -10px -31px;
    opacity: .3;
    pointer-events: none;
}
.jssora22r.jssora22rds {
    background-position: -70px -31px;
    opacity: .3;
    pointer-events: none;
}

.fancybox-wrap .username-ui,
.fancybox-overlay .username-ui,
.fancybox-wrap .likes-ui,
.fancybox-overlay .likes-ui,
.fancybox-wrap .comments-ui,
.fancybox-overlay .comments-ui
{ display: none; }

.fancybox-wrap .date-ui,
.fancybox-overlay .date-ui,
.fancybox-wrap .location-ui,
.fancybox-overlay .location-ui
{ color:#aeaeae; font-size: 12px; font-weight: 300; margin-bottom:3px; text-transform:none; }

/* CUSTOM SLIDER STUFF */
.slider-wrapper { position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1200px; height: 800px; overflow: hidden; visibility: hidden; }
.slider-wrapper { margin-bottom: -1px; } /* hide the gap between slider and border of headline */
/* .slider-wrapper { margin-bottom: 12px; } */
.slider-slides { cursor: default; position: relative; top: 0px; left: 0px; width: 1200px; height: 800px; overflow: hidden; }


